@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic);
.imgtop {
	width: 90%;
}
.allcont {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	text-indent: 1.5em;
	text-align: justify;
}
.text-header-h1 {
	font-size: 32pt;
	text-align: center;
	line-height: 1.5;
}
.text-header-h2 {
	margin: 20px;
}
h2 {
	margin: 10px auto 10px auto;
}
.text-education {
	float: right;
}
.portfol {
	height: 450px;
}
.text-content {
	margin-bottom: 25px;
}img.fig {
	float: left;
}
.imgsize {
	width: 80px;
	height: 25px;
}
.imgtargetsize {
	width: 81px;
	height: 70px;
}
.colum>img {
	margin-bottom: 20px;
}
#toTop {
	width: 50px;
	height: 50px;
	background: url('img/icon_top.png') no-repeat;
	position: fixed;
	bottom: 150px;
	right: 6px;
	cursor: pointer;
	display: none;
}
.portfolio-icon {
	width: 40%;
	margin: 25px auto 25px 25px;
	border: 1px solid #A2A2A2;
	box-shadow: 0 0 10px rgb(162,162,162);
}