@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
body {
    background-color: #F7F1E3;

}
#nav ul li {
    float: left;
    list-style-type: none;
    width: 33.3%;
}
#nav ul li a {
    color: black;
    padding: 0 15px;
    font-family: 'Lobster', cursive;
    font-size: 16pt;
    text-decoration: none;
    line-height: 65px;
    display: block;
    height: 65px;
    text-align: center;
}
.strong-red {
    margin: 200px;
}
#nav ul li a.red:hover {
    background: #F44336;
    color: black;
}
#nav ul li a.green:hover {
    background: #4CAF50;
    color: black;
}
#nav ul li a.blue:hover {
    background: #2196F3;
    color: black;

}
